[submodule "lib/json"]
	path = lib/json
	url = https://github.com/wolf81/json.lua.git
[submodule "lib/knife"]
	path = lib/knife
	url = https://github.com/wolf81/knife.git
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/wolf81/hump.git
[submodule "lib/lume"]
	path = lib/lume
	url = https://github.com/wolf81/lume.git
[submodule "lib/baton"]
	path = lib/baton
	url = https://github.com/wolf81/baton.git
[submodule "lib/skip-list"]
	path = lib/skip-list
	url = git@github.com:wolf81/skip-list.git
[submodule "lib/skip_list"]
	path = lib/skip_list
	url = git@github.com:wolf81/skip-list.git
