[submodule "lib/classic"]
	path = lib/classic
	url = https://github.com/wolf81/classic.git
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/wolf81/json.lua.git
[submodule "lib/anim8"]
	path = lib/anim8
	url = https://github.com/wolf81/anim8.git
[submodule "lib/knife"]
	path = lib/knife
	url = https://github.com/wolf81/knife.git
[submodule "lib/hump"]
	path = lib/hump
	url = https://github.com/wolf81/hump.git
[submodule "lib/lume"]
	path = lib/lume
	url = https://github.com/wolf81/lume.git
